
  .navbar img{

      height: 65px;
  }
  .navbar-nav .nav-link.active, .navbar-nav .nav-link.show  {
     border-radius: 16px ;
     background-color: var(--sec-color);
     color: white;
  }
  .navbar-nav .nav-link .active, .navbar-nav .nav-link.show  {
    border-radius: 16px ;
    background-color: var(--sec-color);
    color: white;
 }
  .dropdown-item:focus, .dropdown-item:hover {
      color: white;
      background-color:var(--sec-color) !important;
  }
  .dropdown-item{
    color: var(--main-colors) !important;
  }
  .navbar  .nav-link{
      color:var(--main-colors) ;
  }